<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adb.adblab.generalservice.mapper.CountProvincialNumMapper">
  <resultMap id="BaseResultMap" type="com.adb.adblab.generalservice.entity.CountProvincialNum">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="pname" jdbcType="VARCHAR" property="pname" />
    <result column="number" jdbcType="INTEGER" property="number" />
  </resultMap>
</mapper>