<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adb.adblab.generalservice.mapper.StreetShopMapper">
  <resultMap id="BaseResultMap" type="com.adb.adblab.generalservice.entity.StreetShop">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="pname" jdbcType="VARCHAR" property="pname" />
    <result column="cityname" jdbcType="VARCHAR" property="cityname" />
    <result column="adname" jdbcType="VARCHAR" property="adname" />
    <result column="street_address" jdbcType="VARCHAR" property="streetAddress" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="brand_name" jdbcType="VARCHAR" property="brandName" />
    <result column="road_location" jdbcType="LONGVARCHAR" property="roadLocation" />
  </resultMap>
</mapper>